header {
	background: url(../img/angularjs.pngx) #007ba0;
	background-size: cover;
	padding: 100px 0;
}
header h1, header h2, header h3, header h4 {
	color: #ffffff;
}
.testimonial-wrap h2 {
  padding-top: 40px;
  font-weight: 200;
  color: #333;
}

.testimonial-wrap .centered-text {
  text-align: center;
}

.testimonial-wrap .quote {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.testimonial-wrap .quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #ebf3f5 transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.testimonial-wrap .student {
  margin-left: 25px;
  margin-bottom: 80px;
}
.testimonial-wrap .student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.testimonial-wrap .student p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}
.testimonial-wrap .student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.testimonial-wrap .student p:nth-child(3) {
  font-size: 14px;
  color: #777;
}